body
{
    background-color: #e0eeee;
    background-repeat: no-repeat;
     background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.well {
   background-color: rgba(245, 245, 245, 0.5);
   width: 75%;
}

.standalone
  {
    display: block;
  }



h1
{
    font-size: 1.3em;
    font-family: 'Ubuntu', sans-serif;
}

h2
{
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
}

h3
{
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
}

p 
{
   margin-left: 5px;
}
p.clear {
    clear: both;
}


